
*{
   margin:0;
   padding:0;
   box-sizing: border-box;
}

header {
  background:#acfcd9;
  opacity: 0.3;
  padding:20px; 
  position: fixed;
  top:0;
  width: 100%;
  z-index: 1;
}

header h1 {
  font-family: 'Raleway', sans-serif;
  font-size: 1.5rem;
  color: #254441;
  display:inline-block;
}

header nav{
  float:right;
  }

header nav ul li{
  list-style: none;
  display:inline-block;
  margin:0 10px;
  position: relative;
}

header nav ul li a{
  text-decoration: none;
  font-family: 'Raleway', sans-serif;
  color:#254441;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 0.9;
}

header nav .menu li {
  position: relative;

}

header nav .menu li:hoover .submenu{
display: block;  
}

header nav .menu li .submenu {
  background:#254441;
  position: absolute;
  left: -35%
  width:220%;
  padding:10px;

  display: none;
}

header nav .menu li .submenu li{
display: block;
}

.next {
  text-align:left;
  background:#b2b09b; 
  padding: 5px;
  border:10px;
  margin:10px;   
}

fieldset {
  font-family: 'Raleway', sans-serif;
  box-shadow: 0 0 10px #999;
  border-radius: 8px;
  border-style: none;
  padding: 10px;    
  border: 10px ;
  margin:10px;
  box-sizing: border-box;
  color:grey;
  font-size: 0.9rem;
  text-align: center;
  display:inline-block;
  position:absolute;
  bottom:10px;
  right:100px; 
}

fieldset span{  
  font-family: 'Raleway', sans-serif;
  color:grey;
  font-size: 0.9rem;
  text-align: center;
  padding: 10px;    
  border: 10px ;
  margin:10px;
}

.icon-bar  {
  position:fixed;
  right:20px;
  bottom:120px;
}

.icon-bar ul li  { 
  
  list-style: none;
  text-decoration:none;
}

.icon-bar ul li a {
  font-size:1.8rem;
  color: #4f359b;
  padding:10px;    
  border: 20px;
  margin:10px;
}

 #Home{
  background-image: url("../imagenes/front1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 100vh;
  overflow: auto;
}

#About{
  height:100vh;
  padding:50px;
  border:200px;
  margin:100px;
  font-family: 'Raleway', sans-serif;
   color:grey;
}

 #gen p{
  padding: 10px 30px;    
  border:10px 20px 10px 50px;
  margin:10px 20px 10px 50px;
  line-height: 20px;
}

#memb { 
  width:90%;
  font-family: 'Raleway', sans-serif;
  padding: 20px;    
  border: 20px;
  margin:20px;
  height: auto;
  display: inline-block;
  float: left;
  color:grey;
}

#memb img{
  display: inline-block; 
  float: left; 
  padding: 10px;    
  border:10px auto;
  margin:10px;
  border-left: 
  transform: scale(.7);
}

#memb span{
  font-weight: bold;
}
#memb p{
  font-family: 'Raleway', sans-serif;
   font-size: 1rem;
}

 #rl{
  width: 55%;
  display:inline-block;
  float:left;
  padding: 10px;    
  border:  30px;
  margin: 30px;
}

#rb{
  width: 55%;
  display:inline-block;
  float:left;
  padding:10px;    
  border:30px;
  margin:30px;
}

#ic{
  width: 55%;
  display:inline-block;
  float:left;
  padding:10px;    
  border:30px;
  margin:30px;
}

#News {
  height:100vh;
  width:80%;
  padding:50px;
  border:200px;
  margin:100px;
  background-color: #fcf0cc;
  font-family: 'Raleway', sans-serif;
  overflow: auto;
}

  #disc {
  width:80%;
  height: 100vh;
  background:white;
  padding:20px;
  border:30px;
  margin: 30px auto;
  border:auto;
} 

#album {
  float: left;
}
   
#album  img {
  padding: 50px;  
  border: 50px;
  border-color: black;
  margin:60px;
  list-style:none;
  float:left;  
  transform: scale(2);
  display: inline-block;
  }

section ol{
  padding: 10px;
  border:20px 20px 20px 50px;
  margin: 10px;
}

#album p {
  font-family: 'Raleway', sans-serif;
  color:grey;
  font-weight: bold;
  font-size: 0.9rem;
  text-align: center;
  padding: 1px; 
}
 
section ol li {
  font-family: 'Raleway', sans-serif;
  color:grey;
  font-size: 0.8rem;
  text-align: center;
  padding: 1px;    
} 

.contact{
  list-style:none;
  font-weight:bold;
  display: inline-block;
  font-family: 'Raleway', sans-serif;
  padding:50px;
  border:200px;
  margin:100px; 
  line-height: 2rem;
}

.contact span{
  color:grey;
}


/*

  color: white;
  overflow:hidden;
  display: inline;
  float: left, bottom,
  font-size: 30px;
  padding:10px;
 }


/** COLORES!!  

blue magenta violet: #4f359b;
gris #343434

Jelly Bean db504a fucsoide
azul #001242
Japanese Indigo #254441
Zomp #43aa8b
Laurel Green #b2b09b
bittersweet #ff715b acoralado 

VERDE #a1e8af
AMARILLO #fed766
SLATE GRAY #747c92

NYANZA #e5ffde  suave

periwinkle #d1d2f9 lila
Tuscan #fbd1a2 curuba
Paris green 
Light gray #d0e1d4
**/